<div class="trust-level-card">
  <h3>{{this.title}}</h3>
  <ul class="progress-list">
    {{#each requirements as |req|}}
      <li>
        <span class="req-description">{{req.text}}</span>
        <span class="req-progress">
          {{#if req.is_met}}
            <i class="fa fa-check-circle success"></i>
          {{else}}
            <i class="fa fa-circle-notch pending"></i>
          {{/if}}
          {{req.current}} / {{req.required}}
        </span>
      </li>
    {{/each}}
  </ul>
</div>